.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    max-width: 90%;
    padding: 0.6rem 1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(92, 17, 17, 0.1);
    margin: auto; /* Ensures the form is centered */
}